.balls{
  border-radius:50%;
  position:fixed;
  width:50px;
  height:50px;
  top:60%;
  animation-name: bounce;
  animation-duration:2s;
  animation-iteration-count:infinite;
}
#ball1{
  background:red;
  left:25%;
  animation-timing-function:linear;
}

#ball2{
  background:blue;
  left:50%;
  animation-timing-function:ease-in;
}

#ball3{
  background:green;
  left:75%;
  animation-timing-function: cubic-bezier(0.21,0.544, 0.345,1.93);
}

@keyframes bounce{
  50%{
    top:10%;
  }
}
